/* 公共样式 */
*{
    font-size: 13px;
    margin: 0;
    padding:0;
    font-style: normal;
}

#chatRoom,
#chatRoom >div,
#chatRoom >div .ant-layout{ height: 100%;}


.ant-layout-sider-trigger{top:166px;}